<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>








        <form action="/producto" method="post">
            <label for="productos">PRODUCTO:</label>
            <input type="text" name="productos_nombre" required>
            <label for="precio">PRECIO:</label>
            <input type="text" name="producto_precio"  required>
        </form>
        <button type="submit" value="enviar">ENVIAR</button>
       

    
</body>
</html>